html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: .6px;
}

/* globales */
.max-width{
    padding: 0 15.4rem;
}
h1{
    font-size: 4rem;
    line-height: 1.5;
}
h2{
    font-size: 8rem;
    font-weight: 500;
    z-index: 1;
}
h3{
    font-size: 2.5rem;
    font-weight: 400;
}
h3 span {
    font-weight: 600;
}
.btn{
    font-size: 2rem;
    color: #F8DAFD;
    font-weight: bold;
    border: 3px solid #F8DAFD;
    border-radius: 1rem;
    padding: .5rem 1rem;
    display: inline-block;
    margin-top: 2.5rem;
    transition: all .3s ease;
}
.btn:hover{
    background: #F8DAFD;
    color: #6E00FF;
}
/* home */
    #home{
        width: 100%;
        height: 100vh;
    }
    .navbar.max-width{
        padding: 0 15.4rem 0 8rem;
    }
    /* navbar */
    nav{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        width: 65%;
        height: 100%;
        background: #6E00EE;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        max-width: 21rem;
    }
    .logo svg{
        width: 100%;
    }
    #Ellipse{
        animation: round 1s ;
    }
    @keyframes round{
        50%{
            stroke: #6E00EE;
        }

    }
    .menu a{
        color: white;
        font-size: 1.8rem;
        margin-left: 2.5rem;
    }
    .social{
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social a img{
        margin-left: 1rem;
        transition: transform .3s ease;
        cursor: pointer;
    }
    .social a img:hover{
        transform: scale(1.2,1.2);
    }

    /* home content */

    .home-content{
        background: #6E00FF;
        max-width: 65%;
        max-height: 90vh;
        height: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .subtitle{
        margin-top: 1rem;
    }
    .home-info svg{
        position: absolute;
        bottom: 0;
        margin: 3rem 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }
    .avatar{
        transform: scale(1.5);
        margin-right: 4.1rem;
    }
    /* animations home */
    .animation{
        position: absolute;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 35%;
        overflow: hidden;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .animation img{
        width: 70%;

    }


/* about section */

#about{
    height: 100vh;
    width: 100%;
    position: relative;
}
.title{
    position: absolute;
    top: 0;
    right: 0;
}
.title-section{
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.about svg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 30%;
    height:60rem;
}
.about-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-about{
    width: 60%;
}
.info-about p{
    font-size: 2.5rem;
}
.color-about{
    background: #6E00FF;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* skills me sectionn */

#skills{
    height: 100vh;
    position: relative;
}
.background{
    background: #6E00FF;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.left{
    left: 0;
}
.title-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
.skills-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 40rem;
    height: 60rem;
    display: grid;
    grid-template-rows:10% 2fr 1fr 2fr 10%;
    align-items: center;
    justify-items: center;
    padding: 3rem 5rem;
    transition: all .5s ease;
}
.card:hover{
    transform: scale(1.1,1.1);
}
.card img{
    grid-row: 2/3;
    width: 40%;
}
.card h4{
    grid-row: 3/4;
    font-weight: 600;
    color: #6E00FF;
    font-size: 2rem;
}
.card p{
    text-align: center;
    font-size: 1.8rem;
    grid-row: 4/5;
}
