html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: .6px;
}

/* globales */
.max-width{
    padding: 0 15.4rem;
}
h1{
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-size: 5rem;
    font-weight: 500;
    z-index: 1;
}
h3{
    font-size: 2.5rem;
    font-weight: 400;
}
h3 span {
    font-weight: 600;
}
h4{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #6E00FF;
    text-transform: capitalize;
}
.btn{
    font-size: 1.8rem;
    color: #F8DAFD;
    font-weight: bold;
    border: 3px solid #F8DAFD;
    border-radius: 1rem;
    padding: .5rem 1rem;
    display: inline-block;
    margin-top: 2.5rem;
    transition: all .3s ease;
}
.btn:hover{
    background: #F8DAFD;
    color: #6E00FF;
}
/* home */
    #home{
        width: 100%;
        min-height: 100vh;
    }
    .navbar.max-width{
        padding: 0 15.4rem 0 8rem;
    }
    /* navbar */
    nav{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        width: 65%;
        height: 100%;
        background: #6E00EE;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        max-width: 21rem;
    }
    .logo svg{
        width: 100%;
    }
    
    
    .menu a{
        color: white;
        font-size: 1.6rem;
        margin-left: 2.5rem;
    }
    .social{
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social a{
        margin-left: 1rem;
    }
    .social a:nth-child(1){
        margin: 0;
    }
    .social a img{
        transition: transform .3s ease;
        cursor: pointer;
    }
    .social a img:hover{
        transform: scale(1.2,1.2);
    }

    /* home content */

    .home-content{
        background: #6E00FF;
        width: 65%;
        height: 90vh;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .subtitle{
        margin-top: 1rem;
        font-size: 2rem;
    }
    .home-info{
        width: 70%;
    }
    .home-info svg{
        position: absolute;
        bottom: 0;
        margin: 3rem 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }
    .avat-container{
        width: 40%;
    }
    .avatar{
        width: 100%;
        margin-right:-1rem;
    }
    /* animations home */
    .animation{
        position: absolute;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 35%;
        overflow: hidden;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .animation img{
        width: 70%;

    }


/* about section */

#about, #work{
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    position: relative;
}
.title{
    position: absolute;
    top: 0;
    right: 0;
}
.title-section{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.about svg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55%;
}
.image{
    width: 30%;
    height:100%;
}
.about-content img{
    width: 90%;
    height: 70%;
    object-fit: cover;
}
.info-about{
    width: 60%;
}
.info-about p{
    font-size: 2rem;
}
.color-about{
    background: #6E00FF;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* skills me sectionn */

#skills{
    min-height: 100vh;
    position: relative;
}
.background{
    background: #6E00FF;
    height: 72.5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.left{
    left: 0;
}
.title-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
.skills-content{
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 75%;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 27.5%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    padding: 2rem 4rem;
    margin-left: 5rem;
    transition: all .5s ease;
}
.card:nth-child(1){
    margin: 0;
}
.card:hover{
    transform: scale(1.1,1.1);
}
.card img{
    grid-row: 1/2;
    width: 40%;
}
.card h4{
    grid-row: 2/3;
    font-weight: 600;
    color: #6E00FF;
    font-size: 2rem;
}
.card p{
    text-align: center;
    font-size: 1.8rem;
    grid-row: 3/4;
}


/* work section */

.project{
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project.rigth{
    flex-direction: row-reverse;
    background: #6E00FF;
}
.image-project{
    width: 55%;
    height: 50rem;
    margin-right: 10rem;
}
.image-project img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.project.rigth .image-project{
    margin: 0 0 0 10rem;
}
.project.rigth h4{
    color: white;
}
.project p{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.project.rigth p{
    color: #ffffff;
}
.darker{
    color: #C294FF;
    border-color: #C294FF;
}
.info-project{
    width: 45%;
    padding-right: 15.4rem;
}
.project.rigth .info-project{
    padding: 0 0 0 15.4rem;
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.last-btn{
    color: #6E00FF;
    border-color: #6E00FF;
    margin: 0;
    animation: move 3s infinite;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}
.last-btn img{
    transform: scale(0.8,0.8);
}
/* animation last .btn */
@keyframes move{
    0%{
        transform: translateY(-1rem);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(-1rem);
    }

}
/* HIRE SECTION & FORM */
#hire{
    position: relative;
    min-height: 100vh;
}
#hire .background{
    height: 75%;
}
.hire-content{
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80%;
    border-radius: 1rem;
}
.banner{
    position: relative;
    width: 45%;
    height: 100%;
    z-index: 2;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 1rem 0 0 1rem;

}
.info-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 5rem;
    text-align: center; 
}
.info-banner h4{
    color: #F8DAFD;
}
.info-banner p{
    color: #fff;
    font-size: 1.8rem;
}

/* form */
.form{
    width: 55%;
    padding: 0rem 5rem;
}
input, textarea{ 
    font-family: 'Poppins', sans-serif;
    height: 4.5rem;
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.7rem;
    border: 1px solid lightgray;
    border-radius: .6rem;
    outline: none;
    transition: all .3s ease;
    margin-bottom: 1.5rem;
}

textarea{
    height: 15rem;
    padding: 1rem 1.5rem 0;
    resize: none;
    margin-bottom: 1rem;
}
.hire-info, .hire-contact{
    display: flex;
}
#name, #email{
    margin-right: 1rem;
}
#lastname, #phone{
    margin-left: 1rem;
}
.form .btn{
    cursor: pointer;
    border-color: #C294FF;
}



/* FOOTER */

footer{
    background-color: #6E00EE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
footer .social{
    width: fit-content;
}
footer .social i{
    color: white;
    font-size: 3.2rem;
    margin-left: 1rem;
    transition: all .3s ease;
    cursor: pointer;
}
footer .social i:hover{
    transform: scale(1.1,1.1);
    color: #F8DAFD;
}
footer p{
    font-size: 1.4rem;
}


/* responsive design */

@media (max-width:1553px){
    /*  HOME */
    .max-width{
        padding: 0 5rem;
    }
    .navbar.max-width{
        padding: 0 5rem 0 0;
    }
    .logo{
        margin-left: -1rem;
    }
    .avatar-container{
        margin-right: -1.5rem;
    }
    .logo svg{
        width: 80%;
    }
    .social a img{
        width: 3.5rem;;
    }
    h1{
        font-size: 3rem;
    }
    .subtitle{
        font-size: 1.6rem;
    }
    .btn{
        font-size: 1.6rem;
    }
    /* ABOUT ME */
    .title svg{
        width: 20rem;
        height: 20rem;
    }
    .title-section{
        height: 20rem;
    }
    .title-section h2{
        font-size: 4rem;
    }
    .image{
        height: 100%;
    }
    .info-about p{
        font-size: 1.8rem;
    }
    /* skills */
    .skills-content{
        height: 100%;
        margin-top: 3rem;
    }
    .card{
        padding: 0 2rem;
    }
    .card h4{
        font-size: 1.7rem;
        margin: 0;
    }
    .card p{
        font-size: 1.5rem;
    }
    /* projects */
    .info-project{
        padding-right: 5rem;
    }
    .project.rigth .info-project{
        padding: 0 0 0 5rem;
    }
    .info-project h4, .hire-content h4{
        font-size: 2.8rem;
    }
    .info-project p, .banner p{
        font-size: 1.6rem;
    }

    /* from */
    .hire-content{
        width: 90%;
    }
    .form{
        padding: 2rem 5rem;
    }
    input, textarea{ 
        font-size: 1.4rem;
    }
    button.btn{
        margin-top: .5rem;
    }
}
@media (max-width:1067px){
    /*  cards */
    .skills{
        height: 120vh;
    }
    .card{
        padding: 2rem 1rem;
        width: 35%;
        height: fit-content;
    }
    .card:nth-child(3){
        width: 75%;
        margin: 2rem 0 0 0;
    }
    .card:nth-child(3) img{
        width: 15%;
    }
    /* about */
    .about-content{
        height: fit-content;
    }
    /* hire me */
    .hire{
        height: 120vh;
    }
    .hire-content{
        width: 70%;
        flex-direction: column;
        height: 90%;
        flex-wrap: wrap;
        height: fit-content;
    }
    .banner{
        width: 100%;
    }
    .banner img{
        border-radius: 1rem 1rem 0 0;
    }
    .info-banner{
        padding: 5rem 2rem;
    }
    .form{
        width: 100%;
    } 
}    

@media (max-width:900px){
    /* home section */
    .menu{
        display: none;
    }
    .home-content{
        flex-wrap: wrap;
        padding-bottom:5rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .home-info{
        align-self: flex-start;
        width: 100%;
    }
    .home-info h1{
        font-size: 2.8rem;
    }
    .avatar{
        height: 90%;
        width: 80%;
        align-self: center;
    }
    .animation{
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }
    /* about me */
    .about{
        height: 100vh;
    }
    .about-content{
        padding:30% 0;
    }
    .info-about p{
        font-size: 1.6rem;
    }
    /* skills */
    .skills{
        height: 100vh;
    }
    .skills-content{
        margin: 0;
        padding: 10% 0;
        width: 100%;
    }
    .card{
        width: 45%;
    }
    .card img{
        width: 25%;
    }
    /* projects */
    .image-project{
        width: 40%;
        margin-right: 4rem;
        transition: all 1s ease-in-out;
    }
    .project.rigth .image-project{
        margin-left: 4rem;
    }
    .project img{
        object-fit: cover;
        object-position: left;
    }
    .image-project:hover {
        width:100%;
    }
    .info-project{
        width: 60%;
    }
    /* hire me */
    .hire{
        height: 100vh;
    }
    .hire-content{
        width: 90%;
    }
    .info-banner{
        padding: 5rem 3rem;
    }
}

@media (max-width:670px){
    .max-width{
        padding: 0 2rem;
    }
    /* HOME SECTION */
    .navbar{
        width: 100%;
    }
    .navbar.max-width{
        padding: 0 2rem 0 0rem;
    }
    .logo{
        margin-left: -3.8rem;
    }
    .social, .animation{
        display: none;
    }
    .home-content{
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-bottom:  8rem;
    }
    .avatar{
        margin-right: 2rem;
    }
    /* ABOUT SECTION */
    #about{
        height: 130vh;
    }
    .about-content{
        display: block;
        margin: 2rem 0 0 0 ;
        text-align: center;
    }
    .image{
        width: 100%;
        height: 30vh;
        margin: 0 auto;
    }
    .info-about{
        width: 100%;
        padding-top: 2rem;
    }
    /* skills section */
    .skills{
        height: 160vh;
    }
    .skills .background{
        height: 100%;
    }
    .skills-content{
        display: block;
    }
    .card{
        width: 100%;
        margin: 0 0 2rem 0;
    }
    .card:nth-child(1){
        width: 100%;
        margin: 0 0 2rem 0;
    }
    .card:nth-child(3){
        width: 100%;
        margin: 0 ;
    }
    .card:nth-child(3) img{
        width: 25%;
    }
    /* projects */
    .project{
        padding: 2rem;
        display: block;
    }
    .project.rigth .image-project{
        margin: 0 0 2rem 0;
    }
    .project.rigth .info-project{
        padding: 0;
    }
    .image-project{
        width: 100%;
        height: 50%;
        margin: 0 0 2rem 0;
    }
    .info-project{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    /* h8ire me */
    .hire{
        height: 100vh;
    }
    .hire-content{
        margin: 25% 0;
        width: 100%;
    }
    .banner{
        display: none;
    }
    .form{
        text-align: center;
        padding: 1rem;
    }
}

